.movieList{
    list-style: none;
    text-decoration: none;
}
.movieImg{
    width: 200px;
    height: 300px;
    border-radius: 5px;
    background-color: #fff;
    padding: 5px;
}
.movieTitle{
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    font-family: sans-serif;
}