.header{
    text-align: center;
    font-family: sans-serif;
    font-weight: 900;
    margin-bottom: 100px;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073,
    0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
}
.movieList{
    list-style: none;
    font-size: 3rem;
    text-decoration: none;
    color: #fff;
}
.movieContainer{
    display: grid;
    justify-content: center;
    gap: 25px;
    grid-template-columns: repeat(auto-fill,200px);
    padding: 0 1.5rem;
}