body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.active{
  font-weight: bold;
  color: #61dafb;
}
main,header{
  text-align: center;
}
.form{
  max-width: 300px;
}
input{
  padding: .5rem 1rem;
  margin-left: .5rem;
  background: none;
  border: none;
  background-color: #61dafb;
  border-radius: 5px;
  color: black;
  cursor: pointer;
}
input:disabled{
  background-color: gray;
  cursor: default;
}
main{
  display: grid;
}
article{
  text-align: center;
}

@media screen and (min-width:768px){
  main{
    grid-template-columns: repeat(2,1fr);
  }
  article{
    grid-column: 1/-1;
  }
}
.avatar{
  width: 40px;
  height: 40px;
  border-radius: 5px;
}